* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    margin-left: 120px;
    margin-right: 120px;
}

header {
    background-color: rgb(83, 83, 83);
    height: 40px;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

header ul li a {
    color: #ffffff;
    text-decoration: none;
}

.about h1 {
    text-align: center;
    padding: 20px 0 20px 0;
}

.banner {
    background-image: url("../img/banner.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-position-y: -130px;
    background-size: cover;
}

.songs {
    padding: 40px 0 40px 0;
}

.songs h1{
    text-align: center;
    padding-bottom: 30px;
}

.songs .albums {
    display: grid;
    grid-template-columns: repeat(3, 38%);
}

.songs .item {
    width: 400px;
}

.songs .item p{
    text-align: center;
    font-size: 18px;
}

.songs .item img {
    width: 400px;
}

footer {
    background-color: rgb(83, 83, 83); 
}

footer h1 {
    color: #ffffff;
    text-align: center;
    padding: 20px 0 20px 0;
}

footer p {
    color: #ffffff;
    text-align: center;
    padding: 20px 0 20px 0;
}

footer table, th, td {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 7px;
}

footer table, th {
    padding: 7px 70px 7px 70px;
}